node_modules/
dist/
.env.local

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.keystore
*.jks
keystore.properties

# Capacitor
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
